.GameScreen {
  text-align: center;
  background-image: url('./images/93034.jpg');
  background-size: cover;
  height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0;
}

.boardPlayerOne,
.boardPlayerTwo,
.mirrorPlayerOne,
.mirrorPlayerTwo {
    width: 280px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.boardPlayerOne,
.mirrorPlayerOne,
.boardPlayerTwo,
.mirrorPlayerTwo {
    background-image: url('./images/buttonBackground.png');
}

.boardPlayerOne button,
.boardPlayerTwo button {
    color: currentColor;
}

.mirrorPlayerTwo button,
.mirrorPlayerOne button {
    color: white;
}

.grid button {
    width: 40px;
    height: 40px;
    border: 1px solid azure;
    background-color: transparent;
}

.grid button:hover {
    background-color: grey;
    color: grey;
}


.rocket div {
    width: 20px;
    height: 20px; 
}

.hidden {
    display: none;
}

.win{
    color: white;
    margin: 0;

}

