/* Homepage */
/* Media Query Home Page */
/* RocketLobby styling */
/* Gameboard styling */
/* NavBar Styling */
/* Footer styling  */
/* Media query*/
/* CSS */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Teko:wght@500&display=swap");
:root {
  --black: #121212;
  --white: #f0f0f0;
  --blue: #003049;
  --red: #d62828;
  --yellow: #fcbf49;
  --fontHeading: "Teko", sans-serif;
  --fontBody: "Lato", sans-serif;
}
html {
  font-size: 18px;
  font-size: 125%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--white);
}
body {
  margin: 0;
  padding: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
p {
  color: var(--black);
  margin: 0;
  padding: 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
}
a {
  text-decoration: none;
}
/* Homepage */
.starAbortContainer {
  z-index: 10;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}
.starAbort {
  width: 50px;
  transition: 0.3s;
}
.starAbort:hover,
.starAbort:focus {
  transform: scale(1.2);
}
/*  */
.gameStartSection {
  height: 92vh;
  background-image: linear-gradient(147deg, var(--blue) 50%, var(--red) 50%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gameStartSection h1 {
  font-family: var(--fontHeading);
  font-size: 7.5rem;
  color: var(--yellow);
  text-shadow: 10px 10px 0px var(--black);
}
.gameStartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  background-color: var(--black);
  color: var(--white);
  font-family: var(--fontBody);
  border-radius: 5px;
  padding: 40px;
}
.gameStartContainer input[type="text"] {
  padding: 10px;
  text-align: center;
  margin: 20px;
  min-width: 300px;
}
.gameStartContainer h2 {
  color: var(--white);
}
.gameStartContainer button {
  background-color: #850000;
  border-radius: 5px;
  border: transparent;
  margin-top: 20px;
  padding: 15px 25px;
  transition: 0.5;
}
.gameStartContainer button:hover,
.gameStartContainer button:focus {
  background-color: #ac1313;
  cursor: pointer;
  transform: scale(1.1);
}
.gameStartContainer a {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  font-family: var(--fontHeading);
  color: var(--white);
  font-weight: bold;
}
.gameStartContainer h2:nth-child(2) {
  padding-top: 15px;
}

/* NavBar styling */

.navbarSection {
  height: 120px;
  background-image: linear-gradient(147deg, var(--blue) 50%, var(--red) 50%);
}
.navbarSection h1 {
  text-align: center;
  font-size: 5rem;
  padding-top: 8px;
  font-family: var(--fontHeading);
  color: var(--yellow);
  text-shadow: 10px 10px 0px var(--black);
}
/* Footer Styling */
footer {
  height: 8vh;
  font-family: var(--fontBody);
  background-color: var(--blue);
}
.footerSection {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--red);
  font-weight: bold;
}
.footerSection img {
  height: 8vh;
  padding-left: 10px;
}
.footerSection div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.yellowText {
  color: var(--yellow);
  padding-left: 10px;
}
.redText,
.footerSection p {
  color: var(--red);
  padding-left: 10px;
}

/* RocketLobby styling */
.rocketLobbySection h2,
.rocketLobbySection h3 {
  text-align: center;
}
.rocketLobbySection h2 {
  font-family: var(--fontHeading);
  padding: 40px 0 20px 0;
  font-size: 4.5rem;
}
.rocketLobbySection h3 {
  font-family: var(--fontBody);
  font-size: 2.05rem;
}
input[type="checkbox"] {
  width: 30px;
  height: 30px;
}
.rocketImages {
  width: 100%;
}
.flex {
  display: flex;
  margin: 30px;
}
.rocketTitle {
  font-family: var(--fontHeading);
  font-size: 30px;
}
input[type="submit"] {
  position: relative;
  left: 400px;
  padding: 10px;
  width: 50%;
}
.textDiv {
  margin-left: 10px;
}
.flex p {
  font-size: 1rem;
  margin: 5px;
  line-height: 1.6;
}

span {
  font-weight: bold;
  border-bottom: 3px solid var(--yellow);
  letter-spacing: 1px;
}

.welcomeText {
  font-size: 60px;
  font-family: var(--fontHeading);
  margin-top: 100px;
  margin-bottom: 25px;
  text-align: center;
}

.grid-container {
  display: grid;
  font-family: var(--fontBody);
  font-size: 16px;
  grid-template-columns: 50% 50%;
  padding-top: 73px;
  justify-content: space-around;
  margin-bottom: 70px;
}

.rocketLobbySection h5 {
  animation: heartbeat 1s infinite;
  color: var(--red);
  width: 100%;
  font-size: 28px;
  text-align: center;
  grid-area: 3 / span 2;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

div.flex:nth-child(3) > div:nth-child(2),
div.flex:nth-child(1) > div:nth-child(2) {
  width: 500px;
}
div.flex:nth-child(4) > div:nth-child(2) {
  width: 600px;
}
.submitButton {
  grid-area: 3 / span 2;
  border-radius: 17px;
  padding: 14px 25px;
  background-color: var(--yellow);
  font-size: 1rem;
  color: var(--red);
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.submitButton:hover,
.submitButton:focus {
  background-color: #f5b63a;
  font-weight: bold;
}

div.flex:nth-child(3) > div:nth-child(3) {
  margin-left: 22px;
}
div.flex:nth-child(2) > div:nth-child(3) {
  margin-left: 20px;
}
.rocketLobbyWaiting {
  margin-top: 5rem;
  border: 5px solid var(--blue);
  border-radius: 3px;
  margin-bottom: 30px;
}
.rocketLobbyWaiting h2 {
  font-size: 3rem;
}
.rocketLobbyWaiting h3 {
  padding-bottom: 40px;
  font-size: 1.4rem;
}

/* Media query  */
@media (max-width: 1060px) {
  .submitButton {
    left: 430px;
  }
}
@media (max-width: 900px) {
  h5 {
    font-size: 22px;
    left: 150px;
  }
  .submitButton {
    left: 300px;
  }
}
@media (max-width: 840px) {
  section.gameStartSection h1 {
    font-size: 6.5rem;
  }
  h2 {
    font-size: 18px;
  }
  div.gameStartContainer {
    font-size: 1rem;
  }
  div.gameStartContainer input[type="text"] {
    min-width: 250px;
  }
}
@media (max-width: 700px) {
  .navbarSection h1 {
    font-size: 3rem;
    padding: 41px;
  }
  .starAbort {
    width: 36px;
  }
  .welcomeText {
    font-size: 52px;
    margin-top: 67px;
  }
  h3 {
    font-size: 25px;
  }
  .grid-container {
    grid-template-columns: 93%;
  }
  .rocket1 {
    width: 81%;
  }
  div h5 {
    left: initial;
    font-size: 19px;
  }
  .red p {
    font-size: 14px;
  }
  .submitButton {
    left: 150px;
    padding: 9px 19px;
    font-size: 15px;
  }
}
@media (max-width: 640px) {
  section.gameStartSection h1 {
    font-size: 5.5rem;
  }
  div.gameStartContainer {
    width: 60%;
    margin-top: 40px;
  }
  div.gameStartContainer button {
    margin-top: 8px;
    padding: 6px 17px;
  }
}
@media (max-width: 540px) {
  .red p {
    font-size: 9px;
  }
  .grid-container {
    grid-template-columns: 98%;
  }
  .flex {
    margin: 3px;
  }
  .textDiv {
    margin-left: initial;
  }
}

@media (max-width: 500px) {
  div.gameStartContainer {
    width: 90%;
  }
}
@media (max-width: 385px) {
  .red p {
    font-size: 7px;
  }
  .submitButton {
    left: 88px;
    top: 43px;
  }
}
@media (max-width: 360px) {
  .textDiv p {
    font-size: 14px;
  }

  .footerSection img {
    height: 2vh;
  }
  footer {
    height: 1vh;
    padding-bottom: 54px;
  }
  h3 {
    font-size: 17px;
  }
  div h5 {
    font-size: 15px;
  }
  p.Tittle {
    font-size: 25px;
  }
  .navbarSection h1 {
    font-size: 2rem;
  }
  .welcomeText {
    font-size: 39px;
  }
  .submitButton {
    font-size: 13px;
  }
}
@media (max-width: 320px) {
  div.gameStartSection h1 {
    font-size: 4.5rem;
  }
}
/*  */
/* Gameboard styling */
.gameBackground {
  text-align: center;
  background-image: linear-gradient(90deg, var(--red) 50%, var(--blue) 50%);
  position: cover;
  min-height: 80vh;
  border-top: 7px solid black;
  border-bottom: 7px solid black;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px 0;
}
.boardPlayerOne,
.boardPlayerTwo,
.mirrorPlayerOne,
.mirrorPlayerTwo {
  width: 280px;
  height: 280px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.boardPlayerOne,
.mirrorPlayerOne,
.boardPlayerTwo,
.mirrorPlayerTwo {
  background-image: url("./images/buttonBackground.png");
}
.playerName {
  color: var(--yellow);
  text-shadow: 5px 5px 0px var(--black);
  font-family: var(--fontHeading);
  text-transform: capitalize;
  font-size: 2.5rem;
  padding-top: 30px;
}
.whosBoard {
  font-family: var(--fontBody);
  font-size: 1.5rem;
  color: var(--yellow);
}
.whosBoardText {
  padding-top: 10px;
  font-family: var(--fontBody);
  color: var(--yellow);
  font-size: 1rem;
}
.boardPlayerOne button,
.boardPlayerTwo button {
  color: currentColor;
}
.mirrorPlayerTwo button,
.mirrorPlayerOne button {
  color: white;
}
.grid button {
  width: 40px;
  height: 40px;
  border: 1px solid azure;
  background-color: transparent;
}
.grid button:hover {
  background-color: grey;
  color: grey;
}
.rocket div {
  width: 20px;
  height: 20px;
}
.hidden {
  display: none;
}
.win,
.hit,
.miss {
  color: white;
  margin: 0;
}
@media (max-width: 840px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
