/* Footer Styling */
footer {
  font-family: var(--fontBody);
  background-color: var(--blue);
  overflow-y: hidden;
}
.footerSection {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footerJuno {
  width: 50%;
}
.footerJuno:first-child {
  justify-content: flex-start;
}
.footerJuno:last-child {
  justify-content: flex-end;
  overflow-x: hidden;
}
.footerJuno p {
  color: var(--red);
  padding: 0 20px;
}

.footerJuno a {
  padding-left: 15px;
  color: var(--white);
}
.footerJuno a:hover,
.footerJuno a:focus {
  text-decoration: underline;
}

/* media queries */
@media (max-width: 800px) {
  .footerSection {
    flex-direction: column;
    height: fit-content;
  }
  .footerJuno:first-child,
  .footerJuno:last-child {
    width: 100%;
    justify-content: center;
  }
  .footerJuno:first-child {
    padding-top: 20px;
  }
  .footerJuno:last-child {
    padding: 10px 0 20px 0;
  }
}

@media (max-width: 660px) {
  .footerJuno p {
    text-align: center;
    font-size: 0.8rem;
  }
}
