.gameBackground {
  text-align: center;
  background-image: linear-gradient(90deg, var(--red) 50%, var(--blue) 50%);
  position: cover;
  min-height: 80vh;
  border-top: 7px solid var(--black);
  border-bottom: 7px solid var(--black);
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px 0;
}
.gameBoardContainer {
  margin-bottom: 40px;
}
.gameScreen {
  margin-top: 60px;
}
.boardPlayerOne,
.boardPlayerTwo,
.mirrorPlayerOne,
.mirrorPlayerTwo {
  width: 308px;
  height: 308px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.boardPlayerOne,
.mirrorPlayerOne,
.boardPlayerTwo,
.mirrorPlayerTwo {
  background-image: url("./images/buttonBackground.png");
}
.playerName {
  color: var(--yellow);
  text-shadow: 5px 5px 0px var(--black);
  font-family: var(--fontHeading);
  text-transform: capitalize;
  font-size: 2.5rem;
  padding-top: 30px;
}
.whosTurnText,
.whosBoardText {
  font-family: var(--fontBody);
  color: var(--yellow);
}
.whosTurnText {
  font-size: 1.5rem;
  font-weight: bold;
}
.whosBoardText {
  padding-top: 10px;
  font-size: 1rem;
}
.whosBoard {
  padding-top: 35px;
  font-family: var(--fontBody);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--yellow);
}

.boardPlayerOne button,
.boardPlayerTwo button {
  color: currentColor;
}
.grid button {
  width: 44px;
  height: 44px;
  padding: 0;
  border: 1px solid azure;
  background-color: transparent;
}
.grid button img {
  max-width: 100%;
}
.boardPlayerOne button:hover,
.boardPlayerTwo button:hover {
  background-color: grey;
}
.mirrorPlayerOne button,
.mirrorPlayerTwo button {
  cursor: not-allowed;
}
.hidden {
  display: none;
}
.win,
.hit,
.miss {
  color: white;
  margin: 0;
}
/* @media (max-width: 940px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
} */
