@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Teko:wght@500&display=swap");

:root {
  --black: #121212;
  --white: #f0f0f0;
  --blue: #003049;
  --red: #d62828;
  --yellow: #fcbf49;
  --fontHeading: "Teko", sans-serif;
  --fontBody: "Lato", sans-serif;
}
.navbarSection {
  height: 120px;
  background-image: linear-gradient(147deg, var(--blue) 50%, var(--red) 50%);
}
.navbarSection h1 {
  text-align: center;
  font-size: 5rem;
  padding: 15px;
  font-family: var(--fontHeading);
  color: var(--yellow);
  text-shadow: 10px 10px 0px var(--black);
}
footer {
  height: 5vh;
  font-family: var(--fontBody);
  background-color: var(--blue);
  padding-bottom: 60px;
}
.footerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 5px;
  color: var(--red);
}
.footerSection p {
  padding: 0 20px;
}
.footerSection img {
  height: 5vh;
  padding: 0;
  margin: 0;
}
.footerSection div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.patrick,
.mackenzie {
  color: var(--yellow);
  font-weight: 900;
}
.holly,
.karen {
  color: var(--red);
  font-weight: 900;
}

.patrick,
.holly,
.mackenzie,
.karen {
  border: none;
}
