.navbarSection {
  height: 120px;
  background-image: linear-gradient(147deg, var(--blue) 50%, var(--red) 50%);
}
.navbarSection h1 {
  text-align: center;
  font-size: 5rem;
  padding-top: 8px;
  font-family: var(--fontHeading);
  color: var(--yellow);
  text-shadow: 10px 10px 0px var(--black);
}

/* media queries */
@media (max-width: 1140px) {
  .rocketLobbyGridContainer {
    grid-template-columns: 1fr;
  }
  .rocketCardGridContainer {
    grid-template-columns: 0.4fr 1fr;
  }
}

@media (max-width: 960px) {
  .navbarSection h1 {
    text-align: left;
    margin-left: 60px;
  }
}
