/* playerStart section */
.playerStartSection {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(147deg, var(--blue) 50%, var(--red) 50%);
}
.playerStartSection h1 {
  font-family: var(--fontHeading);
  font-size: 7.5rem;
  color: var(--yellow);
  text-shadow: 10px 10px 0px var(--black);
}
.playerStartContainer {
  width: 50%;
  text-align: center;
  background-color: var(--black);
  font-family: var(--fontBody);
  border-radius: 5px;
  padding: 40px;
}
.playerStartContainer h2 {
  font-size: 1.2rem;
  color: var(--white);
  letter-spacing: 2px;
  line-height: 40px;
}
.playerStartContainer input[type="text"] {
  padding: 10px;
  text-align: center;
  margin: 20px 20px 40px 20px;
  min-width: 300px;
}
