
/* NavBar styling */

  
  /* RocketLobby styling */
  .rocketLobbySection h2,
  .rocketLobbySection h3 {
    text-align: center;
  }
  .rocketLobbySection h2 {
    font-family: var(--fontHeading);
    padding: 40px 0 20px 0;
    font-size: 4.5rem;
  }
  .rocketLobbySection h3 {
    font-family: var(--fontBody);
    font-size: 2.05rem;
  }
  input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }
  .rocketImages {
    width: 100%;
  }
  .flex {
    display: flex;
    margin: 30px;
  }
  .rocketTitle {
    font-family: var(--fontHeading);
    font-size: 30px;
  }
  input[type="submit"] {
    position: relative;
    left: 400px;
    padding: 10px;
    width: 50%;
  }
  .textDiv {
    margin-left: 10px;
  }
  .flex p {
    font-size: 1rem;
    margin: 5px;
    line-height: 1.6;
  }
  
  span {
    font-weight: bold;
    border-bottom: 3px solid var(--yellow);
    letter-spacing: 1px;
  }
  
  .welcomeText {
    font-size: 60px;
    font-family: var(--fontHeading);
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    font-family: var(--fontBody);
    font-size: 16px;
    grid-template-columns: 50% 50%;
    padding-top: 73px;
    justify-content: space-around;
    margin-bottom: 70px;
  }
  
  .rocketLobbySection h5 {
    animation: heartbeat 1s infinite;
    color: var(--red);
    width: 100%;
    font-size: 28px;
    text-align: center;
    grid-area: 3 / span 2;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(0.8);
    }
    20% {
      transform: scale(1);
    }
    40% {
      transform: scale(1);
    }
    60% {
      transform: scale(1);
    }
    80% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  div.flex:nth-child(3) > div:nth-child(2),
  div.flex:nth-child(1) > div:nth-child(2) {
    width: 500px;
  }
  div.flex:nth-child(4) > div:nth-child(2) {
    width: 600px;
  }
  .submitButton {
    grid-area: 3 / span 2;
    border-radius: 17px;
    padding: 14px 25px;
    background-color: var(--yellow);
    font-size: 1rem;
    color: var(--red);
    border: none;
    cursor: pointer;
    transition: 0.5s;
  }
  .submitButton:hover,
  .submitButton:focus {
    background-color: #f5b63a;
    font-weight: bold;
  }
  
  div.flex:nth-child(3) > div:nth-child(3) {
    margin-left: 22px;
  }
  div.flex:nth-child(2) > div:nth-child(3) {
    margin-left: 20px;
  }
  .rocketLobbyWaiting {
    margin-top: 5rem;
    border: 5px solid var(--blue);
    border-radius: 3px;
    margin-bottom: 30px;
  }
  .rocketLobbyWaiting h2 {
    font-size: 3rem;
  }
  .rocketLobbyWaiting h3 {
    padding-bottom: 40px;
    font-size: 1.4rem;
  }
  /* 


/* Media query  */
@media (max-width: 1060px) {
    .submitButton {
      left: 430px;
    }
  }
  @media (max-width: 900px) {
    h5 {
      font-size: 22px;
      left: 150px;
    }
    .submitButton {
      left: 300px;
    }
  }
  @media (max-width: 840px) {
    section.gameStartSection h1 {
      font-size: 6.5rem;
    }
    h2 {
      font-size: 18px;
    }
    div.gameStartContainer {
      font-size: 1rem;
    }
    div.gameStartContainer input[type="text"] {
      min-width: 250px;
    }
  }
  @media (max-width: 700px) {
    .navbarSection h1 {
      font-size: 3rem;
      padding: 41px;
    }
    .starAbort {
      width: 36px;
    }
    .welcomeText {
      font-size: 52px;
      margin-top: 67px;
    }
    h3 {
      font-size: 25px;
    }
    .grid-container {
      grid-template-columns: 93%;
    }
    .rocket1 {
      width: 81%;
    }
    div h5 {
      left: initial;
      font-size: 19px;
    }
    .red p {
      font-size: 14px;
    }
    .submitButton {
      left: 150px;
      padding: 9px 19px;
      font-size: 15px;
    }
  }
  @media (max-width: 640px) {
    section.gameStartSection h1 {
      font-size: 5.5rem;
    }
    div.gameStartContainer {
      width: 60%;
      margin-top: 40px;
    }
    div.gameStartContainer button {
      margin-top: 8px;
      padding: 6px 17px;
    }
  }
  @media (max-width: 540px) {
    .red p {
      font-size: 9px;
    }
    .grid-container {
      grid-template-columns: 98%;
    }
    .flex {
      margin: 3px;
    }
    .textDiv {
      margin-left: initial;
    }
  }
  
  @media (max-width: 500px) {
    div.gameStartContainer {
      width: 90%;
    }
  }
  @media (max-width: 385px) {
    .red p {
      font-size: 7px;
    }
    .submitButton {
      left: 88px;
      top: 43px;
    }
  }
  @media (max-width: 360px) {
    .textDiv p {
      font-size: 14px;
    }
  
    .footerSection img {
      height: 2vh;
    }
    footer {
      height: 1vh;
      padding-bottom: 54px;
    }
    h3 {
      font-size: 17px;
    }
    div h5 {
      font-size: 15px;
    }
    p.Tittle {
      font-size: 25px;
    }
    .navbarSection h1 {
      font-size: 2rem;
    }
    .welcomeText {
      font-size: 39px;
    }
    .submitButton {
      font-size: 13px;
    }
  }
  @media (max-width: 320px) {
    div.gameStartSection h1 {
      font-size: 4.5rem;
    }
  }
  /*  */
  /* Gameboard styling */
  .gameBackground {
    text-align: center;
    background-image: linear-gradient(90deg, var(--red) 50%, var(--blue) 50%);
    position: cover;
    min-height: 80vh;
    border-top: 7px solid black;
    border-bottom: 7px solid black;
  }
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 0;
  }
  .boardPlayerOne,
  .boardPlayerTwo,
  .mirrorPlayerOne,
  .mirrorPlayerTwo {
    width: 280px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  .boardPlayerOne,
  .mirrorPlayerOne,
  .boardPlayerTwo,
  .mirrorPlayerTwo {
    background-image: url("./images/buttonBackground.png");
  }
  .playerName {
    color: var(--yellow);
    text-shadow: 5px 5px 0px var(--black);
    font-family: var(--fontHeading);
    text-transform: capitalize;
    font-size: 2.5rem;
    padding-top: 30px;
  }
  .whosBoard {
    font-family: var(--fontBody);
    font-size: 1.5rem;
    color: var(--yellow);
  }
  .whosBoardText {
    padding-top: 10px;
    font-family: var(--fontBody);
    color: var(--yellow);
    font-size: 1rem;
  }
  .boardPlayerOne button,
  .boardPlayerTwo button {
    color: currentColor;
  }
  .mirrorPlayerTwo button,
  .mirrorPlayerOne button {
    color: white;
  }
  .grid button {
    width: 40px;
    height: 40px;
    border: 1px solid azure;
    background-color: transparent;
  }
  .grid button:hover {
    background-color: grey;
    color: grey;
  }
  .rocket div {
    width: 20px;
    height: 20px;
  }
  .hidden {
    display: none;
  }
  .win,
  .hit,
  .miss {
    color: white;
    margin: 0;
  }
  @media (max-width: 840px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  } */
  