label {
  color: var(--black);
}
input[type="checkbox"] {
  width: 30px;
  height: 30px;
}
.rocket1 {
  width: 100%;
}
.style,
h4,
.grid-container {
  color: black;
}
.flex {
  display: flex;
  margin: 30px;
}
.Tittle {
  font-family: var(--fontHeading);
  font-size: 30px;
}
input[type="submit"] {
  position: relative;
  left: 400px;
  padding: 10px;
  width: 50%;
}
/*new stuff  */
.textDiv {
  margin-left: 10px;
}

.flex p {
  margin: 5px;
  line-height: 1.6;
}

span {
  font-weight: bold;
  border-bottom: 3px solid var(--yellow);
  letter-spacing: 1px;
}

.rocketLobbySection h2 {
  font-size: 60px;
  font-family: var(--fontHeading);
  margin-top: 100px;
  margin-bottom: 25px;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
  font-size: 37px;
  font-family: var(--fontBody);
}
.grid-container {
  display: grid;
  font-family: var(--fontBody);
  font-size: 16px;
  grid-template-columns: 50% 50%;
  padding-top: 73px;
  justify-content: space-around;
  padding-bottom: 100px;
}

h5 {
  width: 50px;
  height: 50px;
  animation: heartbeat 1s infinite;
  color: var(--red);
  width: 100%;
  font-size: 28px;
  text-align: center;
  position: relative;
  left: 300px;
  top: 25px;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

div.flex:nth-child(3) > div:nth-child(2),
div.flex:nth-child(1) > div:nth-child(2) {
  width: 500px;
}
div.flex:nth-child(4) > div:nth-child(2) {
  width: 600px;
}

.submitButton {
  border-radius: 17px;
  color: var(--white);
  padding: 14px 25px;
  position: relative;
  left: 467px;
  top: 25px;
  background-color: var(--yellow);
  color: var(--red);
  border: none;
  font-size: 21px;
}

div.flex:nth-child(3) > div:nth-child(3) {
  margin-left: 22px;
}
div.flex:nth-child(2) > div:nth-child(3) {
  margin-left: 20px;
}
/* media query */
@media (max-width: 1060px) {
  .submitButton {
    left: 430px;
  }
}
@media (max-width: 900px) {
  h5 {
    font-size: 22px;
    left: 150px;
  }
  .submitButton {
    left: 300px;
  }
}
@media (max-width: 700px) {
  .navbarSection h1 {
    font-size: 3rem;
    padding: 41px;
  }
  .starAbort {
    width: 36px;
  }
  h2 {
    font-size: 52px;
    margin-top: 67px;
  }
  h3 {
    font-size: 25px;
  }
  .grid-container {
    grid-template-columns: 93%;
  }
  .rocket1 {
    width: 81%;
  }
  div h5 {
    left: initial;
    font-size: 19px;
  }
  .red p {
    font-size: 14px;
  }
  .submitButton {
    left: 150px;
    padding: 9px 19px;
    font-size: 15px;
  }
}
@media (max-width: 540px) {
  .red p {
    font-size: 9px;
  }
  .grid-container {
    grid-template-columns: 98%;
  }
  .flex {
    margin: 3px;
  }
  .textDiv {
    margin-left: initial;
  }
}
@media (max-width: 385px) {
  .red p {
    font-size: 7px;
  }
  .submitButton {
    left: 88px;
    top: 43px;
  }
}
@media (max-width: 360px) {
  .textDiv p {
    font-size: 14px;
  }

  .footerSection img {
    height: 2vh;
  }
  footer {
    height: 1vh;
    padding-bottom: 54px;
  }
  h3 {
    font-size: 17px;
  }
  div h5 {
    font-size: 15px;
  }
  p.Tittle {
    font-size: 25px;
  }
  .navbarSection h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 39px;
  }
  .submitButton {
    font-size: 13px;
  }
}

.rocketLobbyWaiting {
  border: 5px solid var(--blue);
  border-radius: 3px;
}
