label {
  color: black;
}

h3 {
  color: black;
  text-align: center;
  font-size: 40px;
}
input[type="checkbox"] {
  width: 30px;
  height: 30px;
}
.rocket1 {
  width: 18%;
}
.style,
h4 {
  color: black;
}
