form {
    text-align: center;
    color:var(--white);
}
.moon {
    width: 15%;
}
.flexMoon {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 50px;
}
.flexMoon p {
    position:absolute;
    font-size: 50px;
    bottom: 25px;
    font-family: var(--fontHeading);
    color: var(--black);
}